<mat-nav-list>
   <div class="profile-card">
     <div class="header">
         <h4 style="color:white">{{user}}</h4>
         
     </div>
     <img src="../../../../assets/img2/admin/default-avatar.png" alt="">
   </div>

   <mat-divider></mat-divider>
   <h5 matSubheader>pages</h5>
   
   <ul>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/admin" style="color:white;"><img src="../../../../assets/img2/admin/pie.png" alt="" style="width:25px;height:25px;margin-right: 6px;">Fournisseurs</a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/categorie" style="color:white;"><img src="../../../../assets/img2/admin/cat.png" alt="" style="width:25px;height:25px;margin-right: 6px;">categorie</a></li>
   </ul>

</mat-nav-list>


